<h1>Welcome to Twitta</h1>
<p>Click the link below to finish the registration process</p>
<a href=<%= @url %>>confirm account</a>
<strong>If you can not open the link above, please copy and paste the following link in your browser</strong>
<p><%= @url %> </p>
